<section  class="port ">
  <div class="container mx-auto ">
    <div class=" text-center mx-auto">
      <h2 class=" fw-bold text-slate-50 text-5xl">ABOUT COMPONENT</h2>
      <span class=" inline-block py-5 text-white"><i class="fa-solid fa-star"></i></span>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-5">
      <div class="relative group">
        <img src="assets/poert1 (1).png" alt="Image 1" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
      
      <div class="relative group">
        <img src="assets/port2 (1).png" alt="Image 2" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
      
      <div class="relative group">
        <img src="assets/port3 (1).png" alt="Image 3" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
    
      <div class="relative group">
        <img src="assets/poert1 (1).png" alt="Image 4" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
      
      <div class="relative group">
        <img src="assets/port2 (1).png" alt="Image 5" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
      
      <div class="relative group">
        <img src="assets/port3 (1).png" alt="Image 6" class="w-96 h-auto transition-all duration-300 ease-in-out border border-1 rounded-lg">
        <div class="absolute inset-0 bg-white opacity-0 group-hover:opacity-100 flex justify-center items-center transition-all duration-300">
          <span class="text-4xl text-gray-700"><i class="fa-solid fa-plus"></i></span>
        </div>
      </div>
    </div>
   
  </div>
</section>

