

<footer class=" dark:bg-gray-900    z-50">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
      <div class="md:flex md:justify-center">
        <div class="mb-6 md:mb-0">
            
        </div>
        <div class="grid grid-cols-1 gap-8 sm:gap-6 sm:grid-cols-3 ">
            <div class="text-center">
                <h2 class="mb-6 text-4xl font-semibold text-slate-100 uppercase dark:text-white ">LOCATION</h2>
                <ul class="text-slate-100 dark:text-slate-100 font-medium">
                    <li class="mb-4">
                        <a href="https://flowbite.com/" class="text-lg">2215 John Daniel Drive</a>
                    </li>
                    <li>
                        <a href="https://tailwindcss.com/" class="text-sm">Clark, MO 65243</a>
                    </li>
                </ul>
            </div>
            <div class="text-center">
                <h2 class="mb-6 text-4xl font-semibold text-slate-100 uppercase dark:text-white">AROUND THE WEB</h2>
               <p><span class=""><i class="fa-brands fa-facebook"></i></span><span class="ml-2"><i class="fa-brands fa-twitter"></i></span><span class="ml-2"><i class="fa-brands fa-linkedin"></i></span><span class="ml-2"><i class="fa-solid fa-globe"></i></span></p>
            </div>
            <div class="text-center">
                <h2 class="mb-6 text-4xl font-semibold text-slate-100 uppercase dark:text-white">ABOUT FREELANCER</h2>
                <ul class="text-slate-100 dark:text-gray-400 font-medium">
                    <li class="mb-4">
                        <a href="#" class="">Freelance is a free to use, licensed Bootstrap theme created  by Route</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
    
    
  </div>
  <!-- <div class="sm:flex sm:items-center sm:justify-center xox p-4">
    <span class="text-sm text-slate-100 sm:text-center dark:text-gray-400">Copyright © Your Website 2021
    </span>
    
</div> -->
</footer>
